<html>
    <head>
        <style>
            body {
                font-family: sans-serif;
            }
            .insert {
                background-color: #c0ffc0;
                font-style: italic;
            }
            .delete {
                background-color: #ffc0c0;
                text-decoration: line-through;
            }
            .ralign {
                text-align: right;
            }
            table { border-collapse: collapse; }
            tr { border: none; }
            td {
                border-right: solid 1px #000; 
                border-left: solid 1px #000;
            }

        </style>
        <title>{{ title }}</title>
    </head>
    <body>
        <h1>{{ title }}</h1>
        Comparison was run with these arguments:
        <pre>
        {{ arguments }}
        </pre>
        
        <p>The original text has a total of {{ sentence_count }} sentences.</p>
        
        <table>
            <thead>
                <tr>
                    <th></th>
                {% for h in hyp %}
                    <th>{{ h }}</th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
                <!-- statistics -->
                {% for s in ('wer', 'mer', 'wil', 'wip') %}
                <tr>
                    <td>{{ s | upper }}</td>
                {% for h in hyp.values() %}
                    <td class="ralign">{{ "%0.2f"|format(h.statistics[s] * 100) }}%</td>
                {% endfor %}
                <tr>
                {% endfor %}
                
                <!-- edit statistics -->
                {% for s in ('hits', 'substitutions', 'insertions', 'deletions') %}
                <tr valign="top">
                    <td>{{ s |capitalize}}</td>
                {% for h in hyp.values() %}
                    <td class="ralign">{{ h.edit_statistics[s] }}</td>
                {% endfor %}
                </tr>
                {% endfor %}
                
                <!-- hallucinations -->
                <tr valign="top">
                    <td>Hallucinations</td>
                    {% for h in hyp.values() %}
                    <td class="ralign">
                        {{ h.hallucinations | length }}
                    </td>
                    {% endfor %}
                </tr>
                <tr valign="top">
                    <td>WER-no-hallucinations</td>
                    {% for h in hyp.values() %}
                    <td class="ralign">
                        {{ "%0.02f"|format(h.statistics['wer-no-hallucinations'] * 100) }}%
                    </td>
                    {% endfor %}
                </tr>                
                <tr valign="top">
                    <td></td>
                    {% for h in hyp.values() %}
                    <td>
                        <ul>
                            {% for x in h.hallucinations %}
                            <li>{{ x.words }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    {% endfor %}
                </tr>

                <!-- Dropouts -->
                <tr valign="top">
                    <td>Dropouts</td>
                    {% for h in hyp.values() %}
                    <td class="ralign">
                        {{ h.dropouts | length }}
                    </td>
                    {% endfor %}
                </tr>
                <tr valign="top">
                    <td></td>
                    {% for h in hyp.values() %}
                    <td>
                        <ul>
                            {% for x in h.dropouts %}
                            <li>{{ x.words }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    {% endfor %}
                </tr>


                <!-- edits -->                
                {% for i in range(sentence_count) %}
                    <tr valign="top">
                    <td>{{ "Edits" if i == 0 else "" }}</td>
                {% for h in hyp.values() %}
                    <td>{{ h.edits[i] }}</td>
                {% endfor %}
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </body>
</html>